@charset "utf-8";
/* CSS Document */
nav{padding: 10px }
nav ul{ 
	margin: 0; padding: 0; list-style: none;
	display: flex;
	justify-content: center;
	align-items: center
}
nav ul li{ position: relative}  
nav ul li a{
	text-decoration: none; 
	color: #fff;
	padding: 5px 20px;
	border-radius: 10px;
	display: block;
	
}
nav ul li a:hover{ border: 1px solid #fff}
/*-- style cho menu con ----*/
nav ul ul {
	position: absolute; 
	width: 120%; left: 0; 
	background:  #58732F;
	border-radius: 15px;
	flex-direction: column;
	align-items: flex-start;
	opacity: 0;top: 450%; 	visibility: hidden;
	transition: all .5s	
	/*display:none*/
}
nav ul li:hover >ul{  opacity: 1; top: 110%; visibility: visible}
nav ul ul ul{ position: absolute; left:350%; width: 200px; top: 10% }
nav ul ul li:hover >ul{  left:120%; top: 0}
main{ min-height: 500px}

footer{ 
	min-height: 650px;
	background-image: url("../images/bg-footer.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 50px; color: #fff

}
.banner,.banner-item{ position: relative}
.banner-caption
{ 
	position: absolute; 
	top: 10%; right: 5%; 
	width: 50%; color:#fff;
	background: rgba(0,0,0,0.2); 
	padding: 20px
}
.megaDropdown{ position: relative}
.megaDropdown .mega-Menu{ 
	position: absolute; top:200%; align-items: flex-start; justify-content: space-around;
	width: 800%; left: -250%; background:#eee; transition: all 1s; visibility: hidden; z-index: 99999; opacity: 0
}
.megaDropdown .mega-Menu a{  color: #333}
.megaDropdown .mega-Menu h4{ padding-left: 20px}

.megaDropdown:hover >.mega-Menu{  top: 100%; visibility: visible; opacity: 1}

#dm .owl-nav { /*box lớn 100% chứa 2 mũi tên trái và phải */
	position: absolute; left: 0; width: 100%;  top: 30%;
}
#dm .owl-nav .owl-prev{ left: -50px; color: aqua} /* mũi tên trái*/
#dm .owl-nav .owl-next{ right: -50px; color: aqua} /* mũi tên phải*/
#dm .owl-dots {/*box lớn 100% chứa các button tròn */
	position: absolute;  width: 100%; text-align: center; bottom: -20px
}
#dm .owl-dots .owl-dot span {
      width: 12px;
      height: 12px;
      margin: 5px 7px;
      background:#333;
}
#dm .owl-dots .owl-dot:hover span,
#dm .owl-dots .owl-dot.active span
{ background-color: #DD9000}
#danhmuc .caption-dm {padding-bottom: 10px; background:#58732F; border: 2px solid #eee; border-radius: 8px; 
width: 80%; position: relative; margin-top: -30px; margin-left: 10%
}#danhmuc .caption-dm h3{ margin: 5px}

/* Style the tab */
.tab {
  overflow: hidden; 
	display: flex;
	justify-content:center
		
}

/* Style the buttons inside the tab */
.tab button {
  background-color:#fff; 
  border: 1px solid #95DD77;
  outline: none;
  cursor: pointer;
  padding: 5px 16px;
  transition: 0.3s;
  font-size: 17px;border-radius: 8px; margin: 5px 10px; margin-bottom: 0
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: tomato; color: #fff
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: forestgreen; color: #fff
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0px 12px;
  border:none
 
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer "../images/imager_1_9818_700.png";
  font-size: 28px
}

.blog-content { padding: 50px 15px; border-radius: 10px; text-align: center}
.tieudeTrang-lh{background: url("../images/banner.png") no-repeat center center; min-height: 300px; display: flex; justify-content: center; align-items: center}
.tieudeTrang-lh div{padding: 5px 10px; font-weight: 500; font-size: 2rem; color:#fff}
.form-control{width:100%; margin-bottom: 10px; padding: 15px; border-radius:5px; border: 1px solid #58732F; color: #58732F}

